.rc-select{
  &-wrap{
    position: relative;
  }
  &-dropdown{
    width: 100px;
    height: 200px;
    background: rgba(0,0,0,.2);
    position: absolute;
    top: 0;
    left: 0;
  }
}
.ll-position {
  position: absolute;
  z-index: 99;
  background: #fff;
}
