.rc-input{
  &-sm{
    outline-style: none ;
    padding: 7px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 24px;
    font-size: 12px;
    &:active{
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
    }
  }
  &-md{
    height: 32px;
    font-size: 14px;
    outline-style: none ;
    padding: 7px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    &:active{
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
    }
  }
  &-lg{
    outline-style: none ;
    padding: 7px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 40px;
    &:active{
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
    }
  }
}
