$primary-color--1:#40a9ff;
$primary-color--2:#69c0ff;
$primary-color--3:#91d5ff;
$primary-color--4:#bae7ff;
$primary-color--5:#e6f7ff;
$prefix:fy;
$font-size--sm:12px;
$font-size--:14px;
.rc-position{
  position: absolute;
  z-index: 99;
  background: #fff;
  box-shadow: 0 0 5px #ddd;
}
*{
  box-sizing: border-box;
}
@function getPrefixName($name) {
@return $prefix - $name;
}
